# ORCID Sandbox OAuth Credentials
# Register at: https://sandbox.orcid.org/oauth/admin
# Redirect URI: http://127.0.0.1:8000/accounts/orcid/login/callback/

ORCID_CLIENT_ID=xxxx
ORCID_CLIENT_SECRET=yyyy